:root {
    --color-black: #0000;
    --color-white: #ffff;
    --color-ice: #dedede;
    --color-gray: #585858;
    --color-blue: #007bff;
    --color-blue-100: #4fb1cf;
    --color-bg-menu: #4c4c66;
    --color-bg-submenu: #3a3f48;
}

a,
button {
    text-decoration: none !important;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 30px 0;
    box-shadow: inset -2px 0px 0px 0px rgba(0, 0, 0, .1);
}

.sidebar-dropdown {
    position: relative;
}

.sidebar-dropdown a {
    color: var(--color-ice);
}

.sidebar-dropdown .nav-link i {
    background: var(--color-bg-menu);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 23px;
    height: 23px;
    border-radius: 2px;
    margin-right: 15px;
}

@keyframes swing {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(10deg);
    }
    20% {
        transform: rotate(0deg);
    }
    30% {
        transform: rotate(-10deg);
    }
    40% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-5deg);
    }
    60% {
        transform: rotate(0deg);
    }
    70% {
        transform: rotate(5deg);
    }
    80% {
        transform: rotate(0deg);
    }
    90% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.sidebar-dropdown:hover .nav-link i::before {
    animation-name: swing;
    animation-duration: .6s;
}

.sidebar-dropdown:hover .nav-link i::before {
    color: var(--color-blue-100);
    text-shadow: 0px 0px 20px var(--color-blue-100);
}

.sidebar-dropdown:hover .nav-link i {
    box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, .4);
    transition: all .3s ease-out;
}

.sidebar-dropdown.active .nav-link i {
    color: rgb(79, 177, 207);
    box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, .4);
}

.sidebar-dropdown a::after {
    width: 40px;
    height: 40px;
    font-family: 'remixicon';
    font-weight: 600;
    font-size: 24px;
    content: "\ea56";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    /* margin-top: 12px; */
    /* margin-right: 17px; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: red; */
    transition: all .1s ease-in;
}

.active.sidebar-dropdown a::after {
    transform: rotate(180deg);
    font-weight: 500;
}

.sidebar-submenu {
    background: var(--color-bg-submenu);
    background: linear-gradient(to top, #464c57 95%, transparent 100%);
    display: none;
}


/* navbar  */

.search {
    position: absolute;
    font-size: 24px;
    top: 0;
    right: 14px;
}

.notifications {
    position: relative;
}

a.dropdown {
    width: 50px;
    height: 40px;
}

.submenu {
    background: var(--color-white);
    border-radius: 4px;
    border: 1px solid var(--color-ice);
    width: 150px;
    position: absolute;
    will-change: transform;
    z-index: 1;
    margin-top: 5px;
    right: 0;
    display: block;
    box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, .3);
    display: none;
}

.notifications a i {
    color: var(--color-gray);
    font-size: 1.2rem;
    display: inline-flex;
}

.notifications a:hover i::before {
    /* color: red; */
    animation-name: swing;
    animation-duration: .6s;
}

.arrow {
    width: 1rem;
    height: .8rem;
    position: absolute;
    top: calc(-.5rem - 1px);
    display: block;
    right: 0;
    margin-right: 17px;
}

.arrow::before,
.arrow::after {
    position: absolute;
    content: "";
    display: block;
    border-color: transparent;
    border-style: solid;
}

.arrow::before {
    top: 0;
    border-width: 0 .5rem .5rem .5rem;
    border-bottom-color: rgba(0, 0, 0, .1);
}

.arrow::after {
    top: 2px;
    border-width: 0 .5rem .5rem .5rem;
    border-bottom-color: var(--color-white);
}

.user {
    position: relative;
}

.user img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}